
@model IEnumerable<Cars_Trade.Models.Cars>

@{
    ViewBag.Title = "Index_Client";
}

<h2></h2>
<p>
    @Html.ActionLink("Добавление авто", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Модель)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Год_выпуска)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Количество_мест)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Цена_за_сутки)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_класса_автомобиля1.Класс_автомобиля)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_состояния_авто1.Состояние_авто)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_типа_коробки1.Тип_коробки)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_типа_кузова1.Тип_кузова)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_типа_привода1.Тип_привода)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_типа_страховки1.Тип_страховки)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_типа_топлива1.Тип_топлива)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Модель)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Год_выпуска)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Количество_мест)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Цена_за_сутки)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID_класса_автомобиля1.Класс_автомобиля)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID_состояния_авто1.Состояние_авто)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID_типа_коробки1.Тип_коробки)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID_типа_кузова1.Тип_кузова)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID_типа_привода1.Тип_привода)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID_типа_страховки1.Тип_страховки)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID_типа_топлива1.Тип_топлива)
            </td>
            <td>
                @Html.ActionLink("Изменить", "Edit", new { id = item.Госномер }) |
                @Html.ActionLink("Подробно", "Details", new { id = item.Госномер }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.Госномер })
            </td>
        </tr>
    }

</table>
