@model IEnumerable<Cars_Trade.Models.Clients>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ФИО)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Номер_телефона)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ФИО)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Номер_телефона)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Номер_и_серия_паспрта }) |
            @Html.ActionLink("Details", "Details", new { id=item.Номер_и_серия_паспрта }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Номер_и_серия_паспрта })
        </td>
    </tr>
}

</table>
