@model IEnumerable<Cars_Trade.Models.Trades>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Срок_сделки)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Сумма_сделки)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cars.Модель)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Clients.ФИО)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_статуса_сделки1.Статус_сделки)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Срок_сделки)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Сумма_сделки)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cars.Модель)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Clients.ФИО)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_статуса_сделки1.Статус_сделки)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Номер_сделки }) |
            @Html.ActionLink("Details", "Details", new { id=item.Номер_сделки }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Номер_сделки })
        </td>
    </tr>
}

</table>
